{% extends 'base.html' %}

{% block content %}

<h2>Emergency Alert</h2>

<button onclick="sendAlert()" class="btn btn-danger btn-lg">
🚨 Send Emergency Alert
</button>

<div id="map" class="mt-4"></div>

<script>

function sendAlert(){

navigator.geolocation.getCurrentPosition(function(position){

let lat = position.coords.latitude;
let lon = position.coords.longitude;

fetch("/save-alert/",{
method:"POST",
headers:{
"Content-Type":"application/json",
"X-CSRFToken":"{{ csrf_token }}"
},
body:JSON.stringify({
latitude:lat,
longitude:lon
})
})

.then(res=>res.json())
.then(data=>{

let map = L.map('map').setView([lat,lon],15);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
attribution:'© OpenStreetMap'
}).addTo(map);

L.marker([lat,lon]).addTo(map)
.bindPopup("Emergency Location")
.openPopup();

});

});

}

</script>

{% endblock %}